<!DOCTYPE html>
<html lang="nl">
<head>
    <title>404 - Pagina niet gevonden</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/assets/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="home-center">
    <div class="content-fade error-container">
        <h1 class="error-code">404</h1>
        <button onclick="location.href='/'">Terug naar Overzicht</button>
    </div>
</body>
</html>
